  <table id="fire">
    <tr>
        <th>Task</th>
        <th>Due Date</th>
        <th>Time Spent</th>
        <th>Box of Completion</th>
    </tr>
    
    <% @todos.each do |todo| %>
        <tr>
            <td class="done">
                <a href= "/todo/show/<%= todo.id %>"><%= todo.description %></a>
            </td>
            <td>2/21/19</td>
            <td id="elt1"><%= todo.pomodoro_estimate %> Pomodoros</td>
            <td class="Completed"><input type=checkbox> </td>
        </tr>
    <% end %>
    
      
</table>

    <a href="/todo/new"> Add todo</a>