  <table id="fire">
           <h1><%=200+323%></h1> 
        </body>
           <tr>
    <th>Task</th>
    <th>Due Date</th>
    <th>Time Spent</th>
    <th>Box of Completion</th>
  </tr>
  <tr>
    <td class="done">
        <a href= "show/1">Go fix MacBook Pro at Apple Store</a>
    </td>
    <td>2/21/19</td>
    <td id="elt1">1hr 30 min</td>
    <td class="Completed"><input type=checkbox> </td>
  </tr>
  <tr>
    <td>
        <a href="show/2">Go to the grocery store</a>
        </td>
   <td>2/19/19</td>
   <td>1hr 15 min</td>
    <td class="Completed"><input type=checkbox></td> 
  </tr>  
  <tr>
  <td>
      <a href="show/3">Go to soup kitchen to volunteer</a>
      </td>
  <td>3/2/19</td>
  <td>3 hr </td>
  <td class="Completed"><input type="checkbox" onclick="markdone()"></td>
  </tr>
</table>
